node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Ignore generated prisma client
backend/src/generated
backend/dist/generated
backend/node_modules
node_modules
